# Telegram Bot Settings
BOT_TOKEN="110201544:AAHdqTcvCH1vGWJxfSeofSAs0K5PALDsaw"
SUPPORT_URL=""
RATE_LIMIT=0.5
DEBUG=False

# Database Settings
DB_HOST="pgbouncer"     # use "localhost" if not using Docker
DB_PORT=5432
DB_USER="tgbot"
DB_PASS="OGU6P2TNUEwxekD0OHe7"
DB_NAME="bot_db"

# Redis (for FSM and Cache) Settings
REDIS_HOST="redis"      # use "localhost" if not using Docker
REDIS_PORT=6379
REDIS_PASS=

# Django Settings
SECRET_KEY="django-insecure-3uxr)-3#2enn4!(mo($=7&)=#b)&1kovt!#$&^#s56k*vj7m$t"
